@import '../sass/utils/variables';
@import '../sass/components/mobile-menu';
body {
  margin: 0 auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.title{
   text-align: center;
   font-weight: 700;
   font-size: 36px;
   color: $subtitle_color;
   line-height: 1.16;
   margin-bottom: 50px;
}
.social-icon{
   width: 20px;
   height: 20px;
}
.social-link{
   width: 44px;
   height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   fill: currentColor;
}
.social-link:hover,
.social-link:focus,
.social-link:active{
   background-color: $primary_color;
   border-radius: 50%;
   fill: $white_color;
}
@import '../sass/components/header-section';
@import '../sass/components/hero-section';
@import '../sass/components/meniu';
@import '../sass/components/modal';
@import '../sass/components/description-section';
@import '../sass/components/what-we-do-section';
@import '../sass/components/our-team-section';