.customers-section{
    max-width: 1200px;
    margin: 94px auto;
}
.icon-customers{
    width: 170px;
    height: 92px;
    border: 1px solid $svg_color;
    border-radius: 4px;
    fill: $svg_color;
    &:focus,
    &:active,
    &:hover{
        fill: $primary_color;
        cursor: pointer;
        border: 1px solid $primary_color;
        transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}.grid-customers{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;

    &__item{
        flex-basis: calc((100% - 30px)/ 2);
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 768px){
    .grid-customers{

        &__item{
            flex-basis: calc((100% - 60px)/ 3);
        }
    }
}
@media screen and (min-width: 1200px){
    .grid-customers{

        &__item{
            flex-basis: calc((100% - 150px)/ 6);
        }
    }
}