.logo{
    text-decoration: none;
    color: $primary_color;
    font-family: $logo_font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    &__header--color{
        color: $black_color;
    }
    &__footer--color{
        color: $white_color;
    }
}