.container {
  min-width: 200px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
}

.page-header {
  border-bottom: 1px solid $border_color;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
}

.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: $subtitle_color;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &:hover{
    cursor: pointer;
    fill: $primary_color;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $primary_color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: $white_color;
  z-index: 999;
  display: flex;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $white_color;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  &--phone{
    color: $primary_color;
    font-size: 34px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    }
  &--mail{
    color: $text_color;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 0.02em;
  }

  &__item{
    margin: 32px 0 64px;
  }
}
.contact-container{
  margin-top: auto;
}
.mobile-menu .link {
  display: block;
  padding: 16px;
  color: $subtitle_color;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  &:hover{
    color: $primary_color;
  }
}
.close-icon{
  fill: $subtitle_color;
  &:hover{
    fill: $primary_color;
    cursor: pointer;
    background-color: none;
  }
}
.mobile-menu-social{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__link{
    text-decoration: none;
    color: $primary_color;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;

    &--right{
      border: none;
    }
    &--left{
      border-left: none;
      padding-left: 0;
    }
  }
}
