.team{
    background-color: $bg_color;
    padding: 0;
    max-width:1600px;
    margin: 0   auto;
    &__item{
        max-width: 1200px;
        margin: 0   auto;
        justify-content: space-between;
        padding: 0;
         display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}
.team__list{
    background-color: $white_color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    list-style-type: none;
    &-title{
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: $subtitle_color;
        margin: 30px 0 10px;
    }
    &-text{
        text-align: center;
        font-size: 16px;
        line-height:1.18;
        color: $text_color;
        margin: 0 0 16px;
    }
}
.social-team{
 justify-content: center;
 gap: 10px;
 margin-bottom: 30px;
 list-style-type: none;
 padding: 0;
 display: flex;
}
.social-team .social-icon--color{
    color: $svg_color;
    }

@media screen and (min-width: 480px){
    .team{
        &__item{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    }
}
@media screen and (min-width: 768px){
    .team__list img{
        width: 354px;
    }
}
@media screen and (min-width: 1200px){
    .team__list img{
        width: 270px;
    }
}